@import url(./__disabled/button__disabled.css);
@import url(./__auto/button__auto.css);

.button {
  background-color: #00040c;
  color: #fff;
  border: 1px solid #0e192e;
  width: 120px;
  height: 40px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.button:hover,
.button__auto:hover {
  background-color: #23395a;
  color: #fff;
  transition: .4s;
}

.button:focus,
.button__auto:focus {
  outline-color: greenyellow;
}

button:disabled {
  cursor: default;
  background-color: #cad2df;
}

button:disabled:hover {
  cursor: default;
  background-color: #cad2df;
}